<div class="section constructor">
  <h1>Constructor Summary</h1>
  <% if constructor_method_inherited? %>
    <p class="inherited_msg">
      This class inherits a constructor from <%= linkify constructor_method, constructor_method.namespace.path %>.
    </p>
  <% else %>
    <%= yieldall :object => constructor_method %>
  <% end %>
</div>
